@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chokokutai&family=Quicksand:wght@300..700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  margin: 0;
  padding: 0;
}

.font-cursive {
  font-family: cursive;
}

.scroll-hide::-webkit-scrollbar{
  display: none;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --font-josefin: 'Josefin Sans', sans-serif;
}

.josefin-text {
  font-family: var(--font-josefin);
  font-weight: 400;
}

.josefin-heading {
  font-family: var(--font-josefin);
  font-weight: 600;
  font-size: 30px;
  font-style: italic;
}

.font-qwigley {
  font-family: 'Qwigley', cursive;
  
}

.loader {
  width: 40px;
  aspect-ratio: 1;
   --c: linear-gradient(#000 0 0);
   --m: radial-gradient(farthest-side,#000 92%,#0000);
  background: 
    var(--m) center               /12px 12px,
    var(--c) left 50% top    -20px/8px 16px, 
    var(--c) left 50% bottom -20px/8px 16px, 
    var(--c) top  50% left   -20px/16px 8px, 
    var(--c) top  50% right  -20px/16px 8px;
  background-repeat: no-repeat;
  animation: 
    l18-1 1.5s infinite,
    l18-2 1.5s infinite;
}
@keyframes l18-1 {
  30%,
  70% {background-position: 
        center,
        left 50% top    calc(50% - 8px),
        left 50% bottom calc(50% - 8px),
        top  50% left   calc(50% - 8px),
        top  50% right  calc(50% - 8px)}
}
@keyframes l18-2 {
  0%,40%   {transform: rotate(0)}
  60%,100% {transform: rotate(90deg)}
}